# Q2_P2:
1.Use 'employee_compensation' data set.
2.Find the people whose overtime salary is greater than 5% of salaries (salaries refers to ’Salaries' column)
3.For each job family these people are associated with (job family refers to ’Job Family' column), calculate what is the percentage of total benefits with respect to total compensation (so for each job family you have to calculate average total benefits and average total compensation). Create a new column (Percent_total_benefit) which has the percentage value.
4.Display the top 5 job families according to Percent_total_benefit using df.head().
5.Write the output (jobs and Percent_total_benefit) to a csv.

In [1]:
import pandas as pd
import numpy as np
import csv

In [2]:
df = pd.read_csv('E:/Python/Data_Assignment_3/employee_compensation.csv') 
df.head()

,Year Type,Year,Organization Group Code,Organization Group,Department Code,Department,Union Code,Union,Job Family Code,Job Family,...,Employee Identifier,Salaries,Overtime,Other Salaries,Total Salary,Retirement,Health/Dental,Other Benefits,Total Benefits,Total Compensation
0,Calendar,2013,2,"Public Works, Transportation & Commerce",AIR,Airport Commission,38.0,"Plumbers and Pipefitters, Local 38",7300,Journeyman Trade,...,52206,98528.52,0.00,3955.59,102484.11,20142.55,12918.24,8371.76,41432.55,143916.66
1,Fiscal,2015,4,Community Health,DPH,Public Health,790.0,"SEIU - Miscellaneous, Local 1021",2600,Dietary & Food,...,52950,69169.82,755.02,4179.08,74103.92,15641.92,12499.30,5669.02,33810.24,107914.16
2,Calendar,2016,3,Human Welfare & Neighborhood Development,WOM,Department of the Status of Women,323.0,Members of Boards and Commissions,0900,Management,...,33958,200.00,0.00,0.00,200.00,0.00,51.45,15.83,67.28,267.28
3,Calendar,2016,6,General Administration & Finance,HRD,Human Resources,790.0,"SEIU - Miscellaneous, Local 1021",8100,Legal & Court,...,33073,1783.00,0.00,0.00,1783.00,325.05,257.23,153.85,736.13,2519.13
4,Fiscal,2015,5,Culture & Recreation,REC,Recreation and Park Commission,790.0,"SEIU - Miscellaneous, Local 1021",9900,Public Service Aide,...,15849,1102.50,0.00,0.00,1102.50,0.00,538.82,85.36,624.18,1726.68

In [15]:
df1 = df[['Year Type', 'Job Family', 'Employee Identifier', 'Salaries', 'Overtime', 'Total Salary', 'Total Benefits', 'Total Compensation']]
df2 = df1[df1['Year Type'] == 'Calendar']
df3 = df2.groupby(['Job Family', 'Employee Identifier'], as_index= False).mean()
df4 = df3[df3['Overtime']> 0.05* df3['Salaries']]
df5 = df4[['Job Family', 'Total Benefits', 'Total Compensation']]
df6 = df5.groupby(['Job Family'], as_index= False).mean() #Average
df6["Percent_Total_Benefit"] = 100* df6['Total Benefits']/df6['Total Compensation'] #Calculating percentage
df7= df6.sort_values(['Percent_Total_Benefit'], ascending = [False])

In [16]:
df7.head()

,Job Family,Total Benefits,Total Compensation,Percent_Total_Benefit
34,Public Service Aide,12081.252503,34013.789743,35.518690
23,Park & Zoo,22168.769722,65363.664630,33.916045
9,Energy & Environment,14254.410000,43219.500000,32.981432
37,Revenue,15629.204089,47641.781767,32.805667
21,Museum & Cultural Affairs,27037.390000,83926.070000,32.215723

In [17]:
df7.to_csv('Q2_P2_output.csv')