# Q4_P4
 
1.Use ‘movies_awards’ data set.
2.You are supposed to extract data from the awards column in this dataset and split it into several columns. An example is given below.
3.The awards has details of wins, nominations in general and also wins and nominations in certain categories(e.g. Oscar, BAFTA etc.)
4.You are supposed to create a win and nominated column (these 2 columns contain total number of wins and nominations) and other columns that extract the number of wins and nominations for each category of award. 
5.If a movie has 2 Oscar nominations and 4 Oscar won, the columns Oscar_Awards_Won should have value 4 and Oscar_Awards_Nominated should have value 2. You should also have a total won and nominated column which aggregates all the awards (won or nominated). 
6.Create two separate columns for each award category (won and nominated).

In [10]:
import pandas as pd 
import csv
import datetime
import calendar
from pandas import read_csv
import re
import numpy as np

In [11]:
df = pd.read_csv('E:/Python/Data_Assignment_3/movies_awards.csv')

In [12]:
df.head()

,totalSeasons,Plot,Rated,Response,Language,Title,Country,Writer,Metascore,imdbRating,...,Released,Actors,Year,Genre,Awards,Runtime,Type,Poster,imdbVotes,imdbID
0,none,NaN,NaN,True,English,Book of Love: The Definitive Reason Why Men Ar...,USA,Jeffrey W. Byrd; Eric George,NaN,6.6,...,14 Feb 2002,40 Glocc; Angelle Brooks; David Brown; Qadr Ca...,2002,Romance; Comedy,NaN,91 min,movie,NaN,79.0,tt0156376
1,none,NaN,NaN,True,Swedish,Anderssons älskarinna,Sweden,NaN,NaN,7.4,...,12 Feb 2001,Jakob Eklund; Ebba Forsberg; Örjan Landström; ...,2001,Drama,NaN,347 min,movie,NaN,34.0,tt0201374
2,none,NaN,NaN,True,English,Bad Blood,UK,Tony Marchant,NaN,5.6,...,11 Jan 2001,Emilia Fox; Serban Celea; Alex Jennings; Steve...,2001,NaN,NaN,NaN,movie,NaN,8.0,tt0207989
3,none,A historical classic drama in three acts; reto...,NaN,True,Portuguese,Who Are You?,Portugal,João Botelho; Almeida Garrett (play),NaN,6.1,...,23 Nov 2001,Patrícia Guerreiro; Suzana Borges; Rui Morisso...,2001,Drama; History,1 win & 2 nominations.,112 min,movie,http://ia.media-imdb.com/images/M/MV5BMTM1Mjdi...,189.0,tt0210930
4,none,A father (Williams) suspects his son (Jackson)...,R,True,English,Skeletons in the Closet,USA,Donna Powers; Wayne Powers,NaN,5.4,...,24 Jul 2001,Treat Williams; Linda Hamilton; Jonathan Jacks...,2001,Crime; Drama; Mystery,1 win.,100 min,movie,http://ia.media-imdb.com/images/M/MV5BMjA0NjA2...,603.0,tt0212513

In [13]:
#Required columns
df1=df[['Title','Awards']]
df1=df1.dropna()
df1.head()

                     Title                   Awards
3             Who Are You?   1 win & 2 nominations.
4  Skeletons in the Closet                   1 win.
5       Cheerleader Ninjas            1 nomination.
6      The Girl from Paris  3 wins & 2 nominations.
7        The Final Curtain    1 win & 1 nomination.

In [14]:
df1["Wins"] = df1["Awards"].apply(lambda x : (re.findall(r"(\d+) win", x)))
df1["Nominations"] = df1["Awards"].apply(lambda x : (re.findall(r"(\d+) nomination", x)))
df1["Golden Globes Won"] = df1["Awards"].apply(lambda x : (re.findall(r"Won (\d+) Golden", x)))
df1["Golden Globes Nominated"] = df1["Awards"].apply(lambda x : (re.findall(r"Nominated for (\d+) Golden", x)))
df1["Oscars Nominated"] = df1["Awards"].apply(lambda x : (re.findall(r"Nominated for (\d+) Oscar", x)))
df1["Oscars Won"] = df1["Awards"].apply(lambda x : (re.findall(r"Won (\d+) Oscar", x)))
df1["Bafta Nominated"] = df1["Awards"].apply(lambda x : (re.findall(r"Nominated for (\d+) BAFTA", x)))
df1["Bafta Won"] = df1["Awards"].apply(lambda x : (re.findall(r"Won (\d+) BAFTA", x)))
df1["PrimeTime Won"] = df1["Awards"].apply(lambda x : (re.findall(r"Won (\d+) Primetime", x)))
df1["PrimeTime Nominated"] = df1["Awards"].apply(lambda x : (re.findall(r"Nominated for (\d+) Primetime", x)))

In [15]:
df1.head()

,Title,Awards,Wins,Nominations,Golden Globes Won,Golden Globes Nominated,Oscars Nominated,Oscars Won,Bafta Nominated,Bafta Won,PrimeTime Won,PrimeTime Nominated
3,Who Are You?,1 win & 2 nominations.,[1],[2],[],[],[],[],[],[],[],[]
4,Skeletons in the Closet,1 win.,[1],[],[],[],[],[],[],[],[],[]
5,Cheerleader Ninjas,1 nomination.,[],[1],[],[],[],[],[],[],[],[]
6,The Girl from Paris,3 wins & 2 nominations.,[3],[2],[],[],[],[],[],[],[],[]
7,The Final Curtain,1 win & 1 nomination.,[1],[1],[],[],[],[],[],[],[],[]

In [16]:
df1.to_csv('Q4_P1_output.csv')